.viewee-wrapper {
	height: 100%;
	width: 100%;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;

	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
}

div.search {
	width: 25%;
	-ms-flex: 0 25%;
	-webkit-box-flex:  0;
	-moz-box-flex:  0;
	-ms-box-flex:  0;
	box-flex:  0;
	height: 100vh;
	overflow-y: auto;
}

div.viewee {
	-ms-flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	overflow-x: hidden;
}

form.search input[type=text] {
	font-size: larger;
	width: calc(100% - 2em - 25px);
	margin: .25em 1em;
	background: url(../github.svg) 0 0 no-repeat;
	padding-left: 25px;
}

div.search ul {
	margin: 0;
	padding: 0;
	border: 0;
}

div.search ul.results li {
	display: block;
	font-family: sans-serif;
}

div.search ul.results>li {
	padding: .5em;
}

div.search ul.results ul {
	padding: .2em;
}

div.search ul.results ul>li {
	padding: .2em;
}

div.search ul.results li:hover, div.search ul.results li.active {
	background-color: rgba(250, 170, 43, 0.2);
}

div.search ul.results>li .name {
	font-size: larger;
/*
	color: #588bfd;
	border-bottom: 1px solid #588bfd;
*/
	margin-bottom: .2em;
}

div.search ul.results>li .description {
	font-size: smaller;
}

div.search ul.results>li .info {
	font-size: smaller;
	color: gray;
}

div.search ul.results>li .name, div.search ul.results>li .description, div.search ul.results ul>li {
	cursor: hand;
	cursor: pointer;
}


div.search ul.results>li .stars {
	margin-right: 1em;
}

div.search .split label {
	/*	display:			block;*/
	border-radius: 		.25em;
	background-color: 	rgba(255,255,255,0.5);
	font-family:		sans-serif;
	/*	font-weight:		500;*/
	color:				black;
	border:				1px solid black;
	cursor:				pointer;
	text-align:			center;
	vertical-align:     top;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: 	none;
	-ms-user-select: 	none;
	user-select: 		none;
}

div.search .split label {
	margin:				5px 10px 0 calc(50% - 7em);
	padding:            .2em 1em;
}

div.search .split {
	margin: 0;
}

div.search .split input {
	display: none;
}

div.search .split label {
	display: inline-block;
	font-family: sans-serif;
	border: 1px solid rgba(64, 96, 128, 1);
}


div.search .split input#target-file:checked ~ label[for=target-file],
div.search .split input#target-repo:checked ~ label[for=target-repo] {
	background-color: rgba(64, 96, 128, 0.7);
	color: white;
}

div.search .split label:first-of-type {
	border-radius: 0;
	border-right: 0;
	border-bottom-left-radius: .25em;
	border-top-left-radius: .25em;
	margin-right: 0;
}

div.search .split label:last-of-type {
	border-radius: 0;
	border-left: 0;
	border-bottom-right-radius: .25em;
	border-top-right-radius: .25em;
	margin-left: -4px;
}
